@charset "UTF-8";

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 15%;
}

nav{
  float: left;
  width:90%;
  position: block;
}

h1 {
  color: #22bdbe;
  font-size: 60px;
  margin-top: 100px;
  margin-bottom:30px;
  font-weight: bolder;
  letter-spacing: 2px;
}

nav img{
  width: 100%;
  height: auto;
}

h3 {
  color: black;
  padding-top: 1%;
  font-weight: bolder;
  letter-spacing: 3px;
}

p {
  font-size: 13px;
  padding-top: 5%;
  padding-bottom: 3%;

}

/*ALL FOOTER INFORMATION*/
footer{
  position: fixed;
  bottom: 0;
  margin-bottom: 25px;
}

footer img {
  opacity: 0.3;
  padding-right: 20px;
}

footer img:hover {
  opacity: 1;
}

footer img:last-child{
  margin:auto;
}
