/*General things*/
#items{
  position: relative;
}

header{
  margin: 0 auto;
}

/*TYPOGRAPHY RELATED STUFF-------------------------------------------------------------*/
h1{
  font-family: 'Patrick Hand', cursive;
  margin-top: 10%;
  font-size: 4em;
}

h3{
  margin-top:1%;
  font-family: 'Patrick Hand', cursive;
  font-weight: bold;
}

aside h3{
  font-size:2em;
  margin-bottom: 1px;
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size:1em;
}

h1, h3{
  text-align: center;
}

nav{
  margin-top: 3%;
  margin-left: 7%;
  margin-right: 5%;
  width: 90%;
}

nav li{
  display: inline-block;
  vertical-align: middle;
  padding-right: 7%;
}

/*SIZE OF THE IMAGES-------------------------------------------------------------------*/
#bottleH, #wasabiH, #fivehrH{
  height: 10em;
  width: auto;
}

#tissueH{
  height: 8em;
  width: auto;
}

#laptopH{
  width: 8.5em;
  height: auto;
}

/*INFORMATION FOR IMAGES DISPLAYED-----------------------------------------------------*/
#bottleInfo{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40%;
  height: 15%;
  padding: 2%;
  text-align: center;
  margin-top: 6%;
  box-shadow: 0 0 8px 0;
  display:none;
  background-color: #d9c34a;
}

#wasabiInfo{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40%;
  height: 15%;
  padding: 2%;
  text-align: center;
  margin-top: 6%;
  box-shadow: 0 0 8px 0;
  display:none;
  background-color: #73bf44;
}

#fivehrInfo{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40%;
  height: 15%;
  padding: 2%;
  text-align: center;
  margin-top: 6%;
  box-shadow: 0 0 8px 0;
  display:none;
  background-color: #f1b120;
}

#laptopInfo{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40%;
  height: 15%;
  padding: 2%;
  text-align: center;
  margin-top: 6%;
  box-shadow: 0 0 8px 0;
  display:none;
  color: white;
  background-color: #232323;
}

#tissueInfo{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40%;
  height: 15%;
  padding: 2%;
  text-align: center;
  margin-top: 6%;
  box-shadow: 0 0 8px 0;
  display:none;
  background-color: #fcdada;
}

#bottleClose, #wasabiClose, #fivehrClose, #tissueClose, #laptopClose{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.show{
  padding-top: 3%;
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

/*EVERYTHING IN THE FOOTER--------------------------------------------------------------*/
footer {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 0.75em;
  bottom: 0;
  position: fixed;
  width: 100%;
  clear:left;
  margin-left: -5%;
}

footer ul, li {
  list-style-type: none;
  padding-left: 5%;

}

a:link {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: #22bdbe;
}

a:active {
  color: black;
}

a:last-child{
  margin:auto;
}


/*ADJUSTING TO SPECIFIC MEDIA SCREEN---------------------------------------------------------------*/
@media only screen and (max-width: 768px) {/*mobile phone*/
h1{
  margin-top: 15%;
  font-size: 4em;
}

h3{
  margin-top: -5%;
  font-size: 1em;
}

nav{
  margin-top: 10%;
}

li{
  display: inline;
  list-style-type:none;
  padding-right: 45%;
  margin-left: 7%;
  margin-right: 1%;
}

#bottleH, #wasabiH, #fivehrH{
  height: 10em;
  width: auto;
}

#tissueH{
  height: 8em;
  width: auto;
}

#laptopH{
  width: 8.5em;
  height: auto;
  padding-left:35%;
}

footer{
    margin-left: 12%;
}
}
