
@media only screen and (max-width: 768px) {
/*mobile phone*/
h1{
  margin-top: 5%;
  font-size: 4em;
}

img{
  vertical-align: middle;
  margin: 0 auto;
  display: block;
  padding: 3%;
}

#bottleH, #wasabiH, #fivehrH, #tissueH{
  height: 10em;
  width: auto;
}

#laptopH{
  width: 8.5em;
  height: auto;
}

}

@media only screen and (min-width: 769px) {
  body{
    margin-left: 10%;
    margin-right: 10%;
  }

  h1{
    margin-top: 5%;
    font-size: 4em;
  }

  img{
    display: inline-block;
    vertical-align: middle;
    padding: 3%;
    margin: 0 auto;
  }

  #main{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    }

  img:last-child{
    margin: auto;
  }


}

/*General things*/
h1{
  font-family: 'Patrick Hand', cursive;
  font-weight: lighter;
}

h3{
 font-family: 'Roboto', sans-serif;
}

h1, h3{
  text-align: center;
}


/*Everything below is personal footer, dont need to touch*/

footer {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  bottom: 0;
  margin-bottom: 1px;
  width: 100%;
}

ul, li {
  list-style-type: none;
  margin-top: 10px;
}


a:link {
  text-decoration: none;
  padding-left: 2%;
}

a:visited {
  color: black;
}

a:hover {
  color: deeppink;
}

a:active {
  color: black;
}

a:last-child{
  margin:auto;
}
