
@media only screen and (max-width: 768px) {
/*mobile phone*/
h1{
  margin-top: 5%;
  font-size: 4em;
}

img{
  vertical-align: middle;
  margin: 0 auto;
  padding: 3%;
}

}

@media only screen and (min-width: 769px) {
  h1{
    margin-top: 5%;
    font-size: 4em;
  }

  img{
    vertical-align: middle;
    padding: 3%;
  }

  #main{
    float: center;
    width: 100%;
  }

}

/*General things*/
h1{
  font-family: 'Patrick Hand', cursive;
  font-weight: lighter;
}

h3{
 font-family: 'Roboto', sans-serif;
}

h1, h3{
  text-align: center;
}


/*Everything below is personal footer, dont need to touch*/
footer {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  bottom: 0;
  margin-bottom: 1px;
  width: 100%;
}

ul, li {
  list-style-type: none;
  margin-top: 10px;
}


a:link {
  text-decoration: none;
  padding-left: 2%;
}

a:visited {
  color: black;
}

a:hover {
  color: deeppink;
}

a:active {
  color: black;
}

a:last-child{
  margin:auto;
}
