/*GENERAL THINGS*/
#element-with-background-image {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('images/outside.jpg');
}

body{
background: url("images/inside.jpg") no-repeat center center fixed;
  background-size:cover;
  font-family: 'Quicksand', sans-serif;
  background-color: #897442;
}

#drag1{
  left: 30px;
  cursor: pointer;
}

/*
#div1{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 300px;
  padding: 130px;
}

#drag1{
  left: 30px;
}

#drag2{
  left: 300px;
}

#drag3{
  left: 600px;
}

#drag4{
  left: 900px;
}

img{
  position: fixed;
  width: 20%;
  height: 20%;
  cursor: pointer;
  margin-top: 335px;
}*/


keyframes scroller {
	0% { transform: translate(0, 0); }
  100% { transform: translate(-4500px, 0); }
}
@-webkit-keyframes scroller {
	0% { -webkit-transform: translate(0, 0); }
  100% { -webkit-transform: translate(-4500px, 0); }
}
@-moz-keyframes scroller { 0% { transform: translate(0, 0); }
  100% { transform: translate(-4500px, 0); } }
@-ms-keyframes scroller { 0% { transform: translate(0, 0); }
  100% { transform: translate(-4500px, 0); } }
@-o-keyframes scroller { 0% { transform: translate(0, 0); }
  100% { transform: translate(-4500px, 0); } }

#loopslider {
	margin: 275px auto;
	width: 100%;
	height: 170px;
	text-align: left;
	position: relative;
	overflow: hidden;
}
#loopslider:after {
	content: "";
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#loopslider ul {
	height: 170px;
	float: left;
	display: inline;
	z-index: 1; /*was 2 before*/
	width: 6840px;
	position: absolute;
	top: 0;
	left: 0;
	animation-name: scroller;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
#loopslider ul:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-position: 0px 0;
}
#loopslider ul li {
	position: relative;
	width: 190px;
	height: 150px;
	text-align: center;
	float: left;
	display: inline;
	overflow: hidden;
}
#loopslider ul li img {
  width: 150px;
  height: 150px;

}
#loopslider ul:after {
  content: ".";
  height: 0;
  clear: both;
  display: block;
  visibility: hidden;
}
#loopslider ul {
  display: inline-block;
  overflow: hidden;
}













/*EVERYTHING IN THE FOOTER--------------------------------------------------------------*/
footer {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  bottom: 0;
  position: fixed;
  width: 100%;
  clear:left;
  margin-left: -5%;
  margin-bottom: 1%;
}

footer ul, li {
  list-style-type: none;
  padding-left: 5%;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: #22bdbe;
}

a:active {
  color: black;
}

a:last-child{
  margin:auto;
}*/
