@charset "UTF-8";


@media only screen and (min-width: 768px) {
   /* declarations */
}

body {/*#e53535*/
  font-family: 'Quicksand', sans-serif;
  font-size: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#mainlogo{
  padding-top: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.sideM {
    display: inline-block;
    cursor: pointer;
}

.menu1, .menu2, .menu3{
    width: 35px;
    height: 5px;
    background-color: #cf3721;
    margin: 6px 0;
    transition: 0.4s;
}

.change .menu1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .menu2 {
  opacity: 0;
}

.change .menu3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

h1{
  color: #ff0000;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size:2.5vw;
  font-weight: bold;
  letter-spacing: 6px;
}

p{
  font-size:0.5em;
}
label {
  width: 80%;
  text-align: left;
  position: relative;
  font-size: 1em;
  display: block;
  padding-top: 5%;
}

input[type="text"] {
  width: 95%;
  padding: 4px;
  border-color:black;
  border-radius: 1px;
  font-size: 1em;
  color: black;
  margin-top: 2%;
}

input[type="text"]:focus {
  border-bottom: 1px #ff0000 solid;
  color: black;
  font-size: 1em;

}

.container{
  width: 130px;
  height: 35px;
  text-align: center;
  padding: 5%;
}


.btn-group button{
  outline: none;
  height: 30px;
  width: 90px;
  text-align: center;
  border-radius: 40px;
  background: #cf3721;
  color: white;
  border: 1px solid;
  font-style: #e53535;
  text-spacing: 9px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.btn-group button:hover{
  background: #fdb614 ;
}

.btn-group button:active{
  letter-spacing: 2px;
}

.btn-group:after{
  content: "";
}

.navbar{
  background-color: #cf3721;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left:-15%;
  text-align: center;
}

.navbar a {
    float: left;
    display: block;
    color: #cf3721;
    text-align: center;
    padding: 10px 13px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #f5be41;
    color: black;
}


.navbar a.active {
    background-color: #cf3721;
    color: white;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}
